.navbar {
    display: flex;
}

.navbar-logo img {
    max-width: 80px;
    max-height: 80px;
}

.navbar-left,
.navbar-right,
.login,
.pages {
    display: flex;
    width: 100%;
}

.pages h3,
.login h3,
.navbar-link,
.navbar-brandname,
.navbar-logo {
    text-decoration: none;
    margin: auto 10px auto 0;
    font-size: 15px;
}