.daily-wrapper {
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 15px;
    padding: 10px;
}

.daily-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

