body{

    background-image: url("../../../assets/images/aboutbackground.jpg");
    background-repeat: no-repeat;
}

.search-wrapper {
    margin: 180px 100px 20px;
    display: flex;
    justify-content: center;
    z-index: 0;
    opacity: 80%;
    height: 100% ;
}

.left-panel {
    z-index:2;
    background-color: rgb(128, 135, 147);
    width: 20%;
    border-radius: 25px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
}

.left-panel-overview {
    img {
        width: 50%;
        margin-left: 25%;
        border-radius: 10px;

    }
    h3 {
        text-align: center;
    }
}
.left-panel-writing{
    text-align: center;
}
.right-panel{
    z-index:1;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 135, 147, 0.902)), to(rgba(222, 220, 222, 0.807)), color-stop(.99,#fffffff2)); 
    width: 80%;
    border-radius: 20px;
    margin-right: 10px;
    margin-top:10px;
    margin-left: -50px;
}


#Addnew{
    
    border-radius: 15px;
    background-color: lightgray;
    width: 10em;
    text-align: space-around;
}
#SearchBar{
    border-radius: 5px;
}

.right-panel-header {
    padding:10px;
    margin-top: 10px;
    margin-right: 10em;
    margin-left: 10em;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid white;
}

.right-panel-body {
    margin-left: 7em;
    margin-right: 7em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    overflow-y: scroll;
    height:85%;
    padding-top:20px;

}

.search-card{
    img{
        height:30%;
        width: 70%;
    }
    min-width:25%;
    min-height: 50%;
    display:flex;
    flex-direction:column;
    align-items: center;
    color: white;
}
