.display-card {
    min-width: 100%;
    padding: 10px 0;
}
.display-card-image img {
    max-width: 150px;
    max-height: 150px;
    margin: 5px auto;
    text-align: center;
}

.display-card-img {
    width: 100%;    
}

.display-card-info {
    margin-bottom: 10px;
    div {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    height: 35px;
    }
}