
.card {
    width:20em;
    display: flex;
    flex-wrap:wrap;
    border-radius:25px;
    margin-top:190px;
    margin-right:0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 135, 147, 0.902)), to(rgba(222, 220, 222, 0.807)), color-stop(.99,#fffffff2)); 
    text-align:center;
    padding:1em;
    img{
        width:15em;
    }
}



