.show-top,
.show-details,
.show-update,
.show-form,
.show-bot {
    display: flex;
    flex-direction: row;
    margin: 10px;
  
}
.show-left{
    border-radius:25px;
    z-index:2;
    opacity:70%;
    display:flex;
    justify-content: center;
    width: 25%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(180, 185, 193, 0.642)), to(rgba(81, 105, 171, 0.293)), color-stop(.99,#3c3c64a0));
}
.show-right{
    margin-left:10px;
    border-radius:25px;
    z-index:1;
    opacity:70%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(180, 185, 193, 0.642)), to(rgba(81, 105, 171, 0.293)), color-stop(.99,#3c3c64a0));
    display:flex;
    justify-content: center;
    width: 70%;
    
}
.displayCard {
    width: 50%;
    margin: 15px 20px;
}

.daily-update-form {
    width: 50%;
    border-style: solid;
    margin: 15px 20px;
}

.show-form {
    width: 60%
}
.show-top{
    padding: 30px;
}

.show-bot{
    color:white;
    margin-left:50px;
    margin-right:100px;
    border-radius:25px;
    z-index:1;
    opacity:70%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(180, 185, 193, 0.642)), to(rgba(81, 105, 171, 0.293)), color-stop(.99,#3c3c64a0));
    display:flex;
    justify-content: center;
  
    
}